
header *{
    display: flex;
}
.nav-item:hover{
    background-color: black;
    opacity: 80%;
    color: white;
    transform: scale(1.15);
    transition: 0.5s;
}
.navbar-brand{
    border-radius: 10px;
    
}
.nav-item{
    border-radius: 10px;
    
}
.container-fluid>div>ul>li>a:hover{
    color: white;
}
.nav-link:hover{
    color: white;
}
header>nav>div>div>ul{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-start;

    flex-wrap: wrap;
    gap: 40px;

}

