@font-face {
    font-family: "poppins";
    src: url(polices/poppins.ttf);
}

@font-face {
    font-family: "nsj"; 
    src: url(polices/nsj.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "nsj" serif;
  font-size: 20px; 

    --texte_blanc:#ffffff;
    --texte_black:#000000;
    --ombre:#a4b0be;

    --background_primaire:#f1f2f6;
    --background-secondaire:#ffffff;
    --ombre-box:#ced6e0;

    --palette_primaire:#4bcffa;
    --palette_secondaire:#dff9fb;
    --palette_tertiaire:#f5f6fa;

    --palette_bonus_primaire:#3498DB;
    --palette_bonus_secondaire:#25CCF7;

}

section, body, html {
    background-color: var(--background_primaire);
}

/*-----Header2-----*/

.header2 {
    width: 100%;
    margin: 0 0 3% 0;
    padding: 5%;
    font-family: "poppins", serif;
    font-size: 38px;
    background-image: linear-gradient(to bottom right, var(--palette_bonus_primaire), var(--palette_bonus_secondaire), var(--palette_bonus_primaire));
    background-clip: text; 
    color: transparent;
    font-weight: bold;
}

/*-----Frise-----*/

.frise-element {
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gauche-frise {
    display: flex;
    background-color: var(--background-secondaire);
    box-shadow: 1px 1px 1px var(--ombre-box);
    border-radius: 15px;
    width: 38%;
    margin: 0 0 0 10%;
    padding: 3%;
    gap: 5%;
}

.droite-frise {
    display: flex;
    background-color: var(--background-secondaire);
    box-shadow: 1px 1px 1px var(--ombre-box);
    border-radius: 15px;
    width: 38%;
    margin: 0 0 0 52%;
    padding: 3%;
    gap: 5%;
}

.texte-frise {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ligne-frise {
    width: 3px;
    height: auto;
    background-color: var(--palette_primaire);
}

.date {
    font-size: 20px;
    font-family: "poppins", serif;
}

@media screen and (max-width : 768px) {
    .droite-frise, .gauche-frise{
        width: 60%;
        margin-bottom: 3%;
    }
    .droite-frise {
        margin-left: 30%;
    }
}

/*----Deuxième partie de la page-----*/

.ligne-horizontal {
    width: 80%;
    height: 3px;
    background-color: var(--palette_primaire);
    margin: 3% 10% 3% 10%;
}

/*---Zone texte et image---*/

.zone-texte-image {
    display: flex;
    width: 80%;
    margin: 0 10%;
    gap: 5%;
}

.zone-texte {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: start;
    align-items: center;
    line-height: 1.5;
    width: 75%;
}

.zone-image {
    border-radius: 15px;
    box-shadow: 1px 1px 1px var(--ombre-box);
    width: 20%;
}

@media screen and (max-width : 768px) {
    .zone-texte-image {
        flex-direction: column;
    }
    .zone-texte, .zone-image {
        width: 100%;
    }
}

/*---Zone texte---*/

.zone-texte2 {
    justify-content: start;
    align-items: center;
    line-height: 1.5;
    margin: 0 10%;
}

/*---Zone Superposition---*/

.disposition-element {
    display: flex;
    width: 80%;
    margin: 0 10%;
    gap: 5%;
}

.superposition {
    width: 47.5%;
    display: flex;
    flex-direction: column;
}

.element-haut {
    background-color: var(--background-secondaire);
    border-radius: 15px;
    box-shadow: 1px 1px 1px var(--ombre-box);
    margin-bottom: 5%;
    padding: 3%;
}

.pourcentage {
    font-family: "poppins", serif;
}

.element-bas {
    border-radius: 15px;
    box-shadow: 1px 1px 1px var(--ombre-box);
}

.element-droite {
    background-color: var(--background-secondaire);
    border-radius: 15px;
    box-shadow: 1px 1px 1px var(--ombre-box);
    padding: 3%;
    line-height: 200%;
}

@media screen and (max-width : 768px) {
    .disposition-element {
        flex-direction: column;
    }

    .element-droite {
        margin-top: 3%;
    }

    .superposition {
        width: 100%;
    }
}

/*-----Footer-----*/

footer {
    background: linear-gradient(to bottom right, var(--palette_bonus_primaire), var(--palette_bonus_secondaire), var(--palette_bonus_primaire));
    padding: 5%;
}

.footer-texte {
    color: var(--texte_blanc);
    font: 20px;
}

@media screen and (min-width : 1440px) {
    .footer-texte {
        font: 25px;
    }
}

@media screen and (max-width : 768px) {
    .footer-texte {
        font: 15px;
    }
}
