@font-face {
    font-family: "poppins";
    src: url(polices/poppins.ttf);
}

@font-face {
    font-family: "nsj";
    src: url(polices/nsj.ttf);
}



section, body, html {
    background-color: var(--background_primaire);
    margin: 0;
    padding: 0;
}

*{
  margin: 0;
  padding: 0;
  font-family: "nsj" serif;

    --texte_blanc:#ffffff;
    --texte_black:#000000;
    --ombre:#a4b0be;

    --background_primaire:#f1f2f6;
    --background-secondaire:#ffffff;
    --ombre-box:#ced6e0;

    --palette_primaire:#4bcffa;
    --palette_secondaire:#dff9fb;
    --palette_tertiaire:#f5f6fa;

    --palette_bonus_primaire:#3498DB;
    --palette_bonus_secondaire:#25CCF7;

}

.header2 {
    background: linear-gradient(to bottom right, var(--palette_bonus_primaire), var(--palette_bonus_secondaire), var(--palette_bonus_primaire));
    font-size: 28px;
    font-family: "poppins" serif;
    color: var(--texte_blanc);
    padding: 5% 25% 5% 5%;
    margin: 0;
    line-height: 125%;
}

@media screen and (min-width : 1440px) {
    .header2 {
        font-size: 68px;
    }
}

@media screen and (max-width : 768px) {
    .header2 {
        font-size: 28px;
    }
}

.div-principal{
    display: flex;
    margin: 75px 0 0 0;
}

.gauche{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.droite{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20% 0 0 0;
}


.contenue{
    display: flex;
    width: 100%;;
}

.image{
    width: 70%;
    border-radius: 15px;
    box-shadow: 1px 1px 1px var(--ombre-box);
    background-color: var(--background-secondaire);
    padding: 2%;
    margin: 0 0 0 3%;

}
.image2{
    width: 70%;
    border-radius: 15px;
    box-shadow: 1px 1px 1px var(--ombre-box);
    background-color: var(--background-secondaire);
    padding: 2%;
    margin: 0 0 0 28%;

}

.ligne{
    width: 2px;
    height: 95%;
    margin: 5% 3%;
    background-color: var(--palette_bonus_secondaire);

}
.imagetexte{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.info{
    margin: 5% 5% 5% 5%;
    background-color: var(--background-secondaire);
    border-radius: 15px;
    box-shadow: 1px 1px 1px var(--ombre-box);
    padding: 2%;
    font-size: 20px;


}

.info2{
    margin: 5% 5% 5% 3%;
    background-color: var(--background-secondaire);
    border-radius: 15px;
    box-shadow: 1px 1px 1px var(--ombre-box);
    padding: 2%;
    font-size: 20px;
}

.ligne-mobile {
    display: none;
}

@media screen and (max-width : 768px) {
    .div-principal{
    flex-direction: column;
    }

    .gauche, .droite {
        width: 100%;
    }

    .ligne {
        display: none;
    }

    .ligne-mobile {
        display: flex;
        width: 90%;
        height: 2px;
        margin: 3.5% 5% 0 5%;
        background-color: var(--palette_primaire);
    }

    .droite {
        margin: 0;
    }
}

footer {
    background: linear-gradient(to bottom right, var(--palette_bonus_primaire), var(--palette_bonus_secondaire), var(--palette_bonus_primaire));
    margin: 5% 0 0 0;
    padding: 5% 10%;
}

footer>p {
    color: var(--texte_blanc);
    font-size: 16px;
    font-family: "poppins", serif;
}

.ligne-footer {
    width: 100%;
    height: 1px;
    background-color: var(--texte_blanc);
    margin: 0 0 2% 0;
}
